* {
  margin: 0px;
  padding: 0px;
}
#loginPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position-y: -20rem;
}

#loginTitle {
  position: center;
  font-size: 100px;
  font-family:fantasy;
  background-color: rgba(37, 150, 190, 0.8);
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 4px 4px white;
}

#loginTitle:hover {
  cursor: pointer;
}

#signInTitle {
  margin: 10px;
}

#loginCard{
  border: 1px transparent black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 20rem;
  height: 15rem;
  background-color: white;
  box-shadow: 0px 0px 4px 4px grey;
  margin: 30rem;
  padding: 20px;
}

#loginCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInputs {
  width: 15rem;
  height: 2rem;
  text-align: center;
}

#loginCardHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#signInBtn {
  width: 147px;
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
  background-color: #2596be;
  color: white;
  border: none;
}

#signInBtn:hover {
  cursor: pointer;
}

#signUpBtn {
  width: 147px;
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
  border: none;
}

#signUpBtn:hover {
  cursor: pointer;
}

#signUpPart {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navBarContainer {
  background-color: #2596be;
  width: 175px;
  height: 100vh;
  margin: 0;
  color: white;
}

.Links {
  text-decoration: none;
  color: white;
}


/*
Sign Up 
*/


#signUpPg {
  background-image: url('https://webgradients.com/public/webgradients_png/013%20Heavy%20Rain.png');
  background-size: cover;
  background-position: center;
  height:100vh;
  margin: 0; 
  padding: 0; 
}

#signUpText h1{
  text-align: center;
  font-size: 36px;
}

#text h6{
  text-align: center;
  font-size: 25px;
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailPWContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none; 
  border: 2px solid blue(255, 255, 255, .2);
  border-radius: 40px;
}



/*
Profile
*/


#name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

#userName {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10%;
  left: 60%; 
  font-size: 15px;
  font-family:fantasy;
  background-color: rgba(134, 200, 244, 0.8);
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 4px 4px white;
}
#userLocation{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 80%;
  left: 60%; 
  font-size: 15px;
  font-family:fantasy;
  background-color: rgba(134, 200, 244, 0.8);
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 4px 4px white;
}

#userLocation{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 80%;
  left: 60%; 
  font-size: 15px;
  font-family:fantasy;
  background-color: rgba(134, 200, 244, 0.8);
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 4px 4px white;
}

#userHobbies{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 71%;
  left: 60%; 
  font-size: 15px;
  font-family:fantasy;
  background-color: rgba(134, 200, 244, 0.8);
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 4px 4px white;
}

#userFavTech{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 62%;
  left: 60%; 
  font-size: 15px;
  font-family:fantasy;
  background-color: rgba(134, 200, 244, 0.8);
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 4px 4px white;
}

#userTechGoals{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 53%;
  left: 60%; 
  font-size: 15px;
  font-family:fantasy;
  background-color: rgba(134, 200, 244, 0.8);
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 4px 4px white;
}

#userAboutMe{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 48%;
  right: 15%; 
  font-size: 15px;
  font-family:fantasy;
  background-color: rgba(134, 200, 244, 0.8);
  border-radius: 10px;
  color: black;
  box-shadow: 0px 0px 4px 4px white;
}

.textarea {
  width: 400px;
  height: 200px; 
  overflow-wrap: break-word;
  padding: 5px;
}


#userProfile{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0%;
  left: 75%; 
  font-size: 9px;
  font-family:fantasy;
  background-color: rgba(178, 186, 192, 0.5);
  border-radius:3px;
  color: black;
}

#save{
  position:fixed;
  top: 169px;
  left: 250px;
}

#avatarEdit {
  position: fixed;
  top: 195px;
  left: 250px;
}

#avatarEdit2 {
  position:fixed;
  top: 15px;
  left: 250px;
}