* {
  margin: 0px;
  padding: 0px;
}
#loginPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExd2F0a3d6MjVwYjhzOXF2djZkYWFocHc5MzFrZXByb2d1ZGFjZHZ2diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MQTF1uW0GTZoVsseXx/giphy.gif');
  background-size: 100%;
}


#loginCard{
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 30rem;
  height: 40rem;
  background-color: white;
  box-shadow: 0px 0px 4px 4px grey;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-top: 100px;
}

#loginCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginCardHeader{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#signInBtn {
  width: 147px;
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
  background-color: #809bce;
  color: white;
  border: none;
}

#signUpBtn {
  width: 147px;
  margin: 5px;
  border-radius: 20px;
  padding: 10px;
  border: none;
}

#signUpPart {
  margin: 5px;
}

#navBarContainer {
  background-color: #809bce;
  width: 175px;
  height: 100vh;
  margin: 0;
  color: white;
}

.Links {
  text-decoration: none;
  color: white;
}


/*
Sign Up 
*/


#signUpPg {
  background-image: url('https://webgradients.com/public/webgradients_png/013%20Heavy%20Rain.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#signUpText h1{
  text-align: center;
  font-size: 36px;
}

#text h6{
  text-align: center;
  font-size: 25px;
}

.signUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailPWContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none; 
  border: 2px solid blue(255, 255, 255, .2);
  border-radius: 40px;
}

